transformers==4.52.4
torch==2.7.1
datasets==3.5.1
openai>=1.68.2
cohere==5.15.0
pandas==2.2.3
seaborn==0.13.2
numpy==1.26.4
sentence-transformers==4.1.0
evaluate==0.4.1
anthropic==0.50.0
groq==1.0.0
tiktoken==0.12.0
langchain
langchain-openai
langchain-community
langchain-core
langchain-mcp-adapters
langgraph
matplotlib==3.10.1
scikit-learn==1.6.1
python-dotenv==1.1.0
huggingface-hub==0.30.2
PyPDF2==3.0.1
requests==2.32.5
tqdm==4.67.0
